server:
  port: 8888
spring:
  application:
    name: config
  profiles:
    active: dev
  cloud:
    config:
      server:
        git:
          uri: https://github.com/JohhanYu/Config.git #配置git仓库地址
          searchPaths:  #配置仓库路径
          username:  JohhanYu     #访问git仓库的用户名
          password:  3208122@yyh #访问git仓库的用户密码
      label: master #配置仓库的分支
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

#测试提交